$lightGray: #e4e4e4;
$darkGray: #c2c2c2;

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
footer {
  background-color: $lightGray;
  font-size: .5em;
  text-align: center;
  padding: .5em 0;
}
header {
  background-color: $lightGray;
  padding: .5em;
  h1 {
    display:inline;
  }
  ul.nav {
    float: right;
    display: inline;
    li{
      border: 1px solid $darkGray;
      padding: .75em;
      display: inline !important;
      a{
        display: inline !important;
      }
    }
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
  .imageOfDayContainer{
    overflow: hidden;
    padding: 2em;
    border: 1px solid $darkGray;
    box-shadow: 1px 1px 10px $darkGray;
    .imageDescription{
      margin-top:2em;
    }
    .imageOfTheDay{
      height: 25em;
    }
  }
}
.siteContent {
  flex: 1;
}

/*helpers*/
.thumbnailed {
  height: 8em;
}
.rounded {
  border-radius: 50%;
}
.right {
  float: right;
}


/* mobile */
@media screen and (max-width: 768px) {
  header {
    padding: .5em;
    h1 {
      display:block;
    }
    ul.nav {
      float: inherit;
      display: block;
      li{
        padding: .25em;
        border: none;
        display: block;
        a{
          white-space:nowrap;
          display: block;
        }
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    .imageOfDayContainer{
      overflow: hidden;
      padding: 0;
      border: none;
      box-shadow: none;
      .imageDescription{
        margin: 1em 0;
      }
      .imageOfTheDay{
        height: auto;
        width: 100%;
      }
    }
  }
}
