html {
  height: 100%; }

body {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px; }

footer {
  background-color: #e4e4e4;
  font-size: .5em;
  text-align: center;
  padding: .5em 0; }

header {
  background-color: #e4e4e4;
  padding: .5em; }
  header h1 {
    display: inline; }
  header ul.nav {
    float: right;
    display: inline; }
    header ul.nav li {
      border: 1px solid #c2c2c2;
      padding: .75em;
      display: inline !important; }
      header ul.nav li a {
        display: inline !important; }

.imageContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35em; }
  .imageContainer .imageOfDayContainer {
    overflow: hidden;
    padding: 2em;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 10px #c2c2c2; }
    .imageContainer .imageOfDayContainer .imageDescription {
      margin-top: 2em; }
    .imageContainer .imageOfDayContainer .imageOfTheDay {
      height: 25em; }

.siteContent {
  -ms-flex: 1;
  flex: 1; }

/*helpers*/
.thumbnailed {
  height: 8em; }

.rounded {
  border-radius: 50%; }

.right {
  float: right; }

/* mobile */
@media screen and (max-width: 768px) {
  header {
    padding: .5em; }
    header h1 {
      display: block; }
    header ul.nav {
      float: inherit;
      display: block; }
      header ul.nav li {
        padding: .25em;
        border: none;
        display: block; }
        header ul.nav li a {
          white-space: nowrap;
          display: block; }
  .imageContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
    .imageContainer .imageOfDayContainer {
      overflow: hidden;
      padding: 0;
      border: none;
      box-shadow: none; }
      .imageContainer .imageOfDayContainer .imageDescription {
        margin: 1em 0; }
      .imageContainer .imageOfDayContainer .imageOfTheDay {
        height: auto;
        width: 100%; } }
