html {
  height: 100%; }

body {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px; }

footer {
  background-color: #e4e4e4;
  font-size: .5em;
  text-align: center;
  padding: .5em 0; }

header {
  background-color: #e4e4e4;
  padding: .5em; }
  header h1 {
    display: inline; }
  header ul.nav {
    float: right;
    display: inline; }
    header ul.nav li {
      border: 1px solid #c2c2c2;
      padding: .75em;
      display: inline !important; }
      header ul.nav li a {
        display: inline !important; }

.imageContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35em; }
  .imageContainer .imageOfDayContainer {
    max-width: 50%; }
    .imageContainer .imageOfDayContainer .imageOfTheDay {
      height: 30em; }

.siteContent {
  -ms-flex: 1;
  flex: 1; }

/*helpers*/
.thumbnailed {
  height: 8em; }

.rounded {
  border-radius: 50%; }

.right {
  float: right; }
